<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Coditron_CategoryDescription::CategoryDescription" title="CategoryDescription" sortOrder="10">
					<resource id="Coditron_CategoryDescription::CategoryDescription_save" title="Save CategoryDescription" sortOrder="10"/>
					<resource id="Coditron_CategoryDescription::CategoryDescription_delete" title="Delete CategoryDescription" sortOrder="20"/>
					<resource id="Coditron_CategoryDescription::CategoryDescription_update" title="Update CategoryDescription" sortOrder="30"/>
					<resource id="Coditron_CategoryDescription::CategoryDescription_view" title="View CategoryDescription" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
